.formHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formTitle {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-main);
}

.clearBtn {
    border: none;
    background: transparent;
    text-decoration: underline;
    font-size: 13px;
    color: var(--text-muted);
    font-weight: 500;
    cursor: pointer;
    transition: color ease 0.3s;
}

.clearBtn:hover{
    color: var(--text-main);
}

@media (max-width: 768px) {
    .formHeader{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}